# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
.venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/
*.code-workspace

# macOS
.DS_Store

# Data and outputs
*.log
data/raw/
data/reference/project.writeup.txt

# Environment and build
.env
*.egg-info/
build/
dist/